ffmpeg/
test*/
oauth/
download_folder/
finish/
dist/
build/
hook/
__pycache__/
other_function.py
secret.json
cookies.json
local_storage.json
*.pkl
app.spec
app.py-*.json
output.txt
luu_tam.py
download_info.json
*.txt
*.pem
*.mp3
# *.mp4
# *.wav
*.pth
vietnamese_dataset/
dataset/
finetune_models/
output/
scripts/
wavs/
eval/
venv/
.vscode/
best_model*.pth
*.pyc
*.log
/config.json