ffmpeg/
test*/
oauth/
download_folder/
finish/
import/
dist/
build/
hook/
__pycache__/
other_function.py
secret.json
cookies.json
local_storage.json
*.pkl
app.spec
app.py-*.json
output.txt
test.py
luu_tam.py
config.json
ff.html
download_info.json
*.json
*.txt
*.pem
*.mp3
*.mp4
*.wav
# venv/
vietnamese_dataset/
dataset/
finetune_models/
main/
output/
models/
scripts/
wavs/
eval/
venv/
.vscode/
best_model*.pth
*.pyc
*.log
test*.py